:root {
  --main-color: rgb(165, 197, 212);
  --main-light-color: rgba(196, 201, 204, 0.898);
  --secondary-color: rgb(236, 239, 241);
  --contrast-color: rgb(38, 66, 79);
  --shadow-color: rgba(129, 153, 165, 0.839);
  --background-color: white;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 17px;
}
h6 {
  font-size: 18px;
  font-weight: 350;
}
h5 {
  font-size: 21px;
  font-weight: 500;
  color: var(--contrast-color);
}
h4 {
  font-size: 23px;
  font-weight: 400;
  color: var(--contrast-color);
}
h3 {
  font-size: 25px;
  color: var(--contrast-color);
}
