.mainContainer {
  display: flex;
  flex: 10;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 500px;
}

.dialogListContainer {
  min-width: 350px;
  margin-right: 10px;
  height: 95%;
  width: 40%;
  overflow: auto;
}

dialogListContainer::-webkit-scrollbar {
  display: none;
}
.mainDialogContainer {
  height: 80%;
  min-width: 500px;
  width: 50%;
  margin-top: 15px;
  border: 3px solid;
  border-color: var(--main-color);
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px #8faee3;
}
