.mainProfileContainer {
  box-shadow: 1px 1px 3px 0px #8faee3;
  background-color: var(--secondary-color);
  border: 3px solid;
  border-color: var(--main-color);
  border-radius: 3px;
  width: 60%;

  margin: 10px;
  margin-top: 15px;
  min-width: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileRow {
  display: flex;
  width: 80%;
  height: 50px;
  margin: 5px;
  align-items: center;
}

.profileButtonsRow {
  display: flex;
  width: 90%;
  margin: 30px;
  justify-content: space-between;
}

.newPassword {
  display: flex;
  width: 80%;
  margin: 5px;
  align-items: center;
  border-top: 2px solid var(--main-color);
  margin-top: 15px;
  padding-top: 10px;
}
