.mainContainer {
  display: flex;
  flex-direction: column;
  height: "100vh";
  flex: 2;
  box-shadow: 1px 1px 3px 1px var(--shadow-color);
  background-color: var(--main-color);
}
.mainLogo {
  font-weight: 600;
  margin: 2px;
  color: var(--contrast-color);
}
